@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  color: #333;
}
body{
  background-color: #f5f5f5;
}
#tasklist::-webkit-scrollbar{
    background-color: transparent;
    height: 5px;
}
#tasklist::-webkit-scrollbar-thumb{
  background-color: rgb(143, 143, 143);
  border-radius: 50px;
}